<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huichuanyi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:theme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hk2w5D0CTXsyFjgHOEPRLeqIYdC8GtBX" />

        <activity
            android:name=".ui_first.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui_first.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui_first.LoadingActivity" />
        <activity
            android:name=".ui_second.HuiMeiWeiKeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".ui_third.ManageActivity" />
        <activity android:name=".ui_third.OrderDetailsActivity" />
        <activity android:name=".secondui.PayOrderActivity" />
        <activity android:name=".ui_second.DaPeiRiJiActivity" />
        <activity android:name=".ui_third.MC_HomeActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105837176" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
                />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5813119875ca353fa10007d5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui_third.MC_TripAndElseActivity" />
        <activity android:name=".ui_second.RegisterActivity" />
        <activity android:name=".secondui.AuthCodeActivity" />
        <activity
            android:name=".secondui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".secondui.BoundActivity" />
        <activity android:name=".ui_second.IndentActivity" />
        <activity android:name=".ui_second.ReportActivity" />
        <activity android:name=".ui_second.SettingActivity" />
        <activity android:name=".secondui.FanKuiActivity" />
        <activity android:name=".secondui.AtMyAcitivty" />
        <activity android:name=".ui_second.DatumActivity" />
        <activity android:name=".ui_third.MC_OldClothesActivity" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name=".secondui.StatisticsActivity" />
        <activity android:name=".secondui.AddMatch" />
        <activity android:name=".ui_four.MySortActivity" />
        <activity android:name=".secondui.ShowPhotoActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".secondui.ForgetPWDAcitity" />
        <activity android:name=".ui_second.MyOrderActivity" />
        <activity android:name=".secondui.ShenQingTuiKuanActivity" />
        <activity android:name=".secondui.PingJiaActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui_third.BuChaJiaActivity" />
        <activity android:name=".ui_second.WoDeYiChuActivity" />
        <activity android:name=".ui_five.PicActivity" />
        <activity android:name=".bean.PayVideoActivity" />

        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".download.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui_second.LiJiYuYueActivity" />
        <activity android:name=".ui_four.ComplainActivity" />
        <activity android:name=".ui_four.MyOrderDetailsActivity" />
        <activity android:name=".ui_four.ReviseActivity" />
        <activity android:name=".ui_third.LabelsActivity" />
        <activity android:name=".ui_third.Item_DetailsActivity" />
        <activity android:name=".ui_third.RecordActivity" />
        <activity android:name=".ui_third.Write_OrderActivity" />
        <activity android:name=".ui_third.Write_AddressActivity" />
        <activity android:name=".ui_third.ListAddress" />
        <activity android:name=".ui_third.My_365Activity" />
        <activity android:name=".ui_third.Buy_365Activity" />
        <activity android:name=".fragment_second.SeeCarActivity" />
        <activity android:name=".ui_third.ShareActivity"></activity>
    </application>

</manifest>